##reference "${fascinator.home}/templates/self-submission/selfSub.vm"
#set($jObj = $item.getJsonObject())
#set($oldOid = $util.get($item, "oid"))
#set($s = $jObj.put("parent-oid",$oldOid))
#set($s = $jObj.put("packageType","arms-storage"))
#set($s = $jObj.remove("related.datasets"))
$item
