.menu .selected, .facet-list .selected {
    background-color: @themeColour@;
}

ul.menu-list {
	list-style: none;
	margin-bottom:0;
}

.align-right {
	text-align:right;
}

.menu-button {
	background:@themeColour@;
	color:#ffffff;
	font-size: 18px;
	margin:10px;
	padding:5px 1em; 
	overflow:visible;
}

ul.nav, ul.main li a, .box h2 {
    background: @themeColour@;
}

ul.main li:hover a {
    background-color: @themeColour@;
}

ul.main li:hover ul li a {
    background-color: @themeColour@ !important;
}

ul.main li:hover ul li a:hover {
    background-color: white !important;
    color:@themeColour@ !important;
}

ul.main li ul li a {
    background-color: @themeColour@;
}

.accordion-header {
    background: @themeColour@;
}

.accordion-header.ui-state-active, .accordion-header:hover {
    background: @themeColour@;
}

#content .ui-accordion-content {
    background: #EEEEEE;
}

th.header {
    background: #FFF5D2;
}

.box h2 a, .box h2 a.visible {
    background-color: @themeColour@;
}

.box h2 a:hover, .box h2 a.visible:hover {
    background-color: white;
    color: @themeColour@;
     border: 1px solid @themeColour@; 
}

.accordion-reset:hover {
    background-color: @themeColour@;
    border: 1px solid @themeColour@;    
}

ul.main li:hover a {
 background-color: white;
 color: @themeColour@;
 border: 1px solid @themeColour@;   
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: @themeColour@;
    text-decoration: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: white;
    background-color: @themeColour@;
    text-decoration: none;
}


ul.main li:hover ul li a:hover {
	background: @themeColour@;
}

.ui-widget-header {
	background: @themeColour@ !important;
}

.ui-tabs-nav.ui-widget-header {
	background: #f4eedc !important;
}

.ui-state-hover a, .ui-state-hover a:hover {
 background-color: @themeColour@;
 color: white;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: @themeColour@;
    font-weight: bold;
}


.article h4 {
    background: none repeat scroll 0 0 @themeColour@;
    color: #FFFFFF;
}