#set($pageTitle = "Help")
<ul class="breadcrumb grid_16">
     <li class="breadcrumb-link ui-corner-top"><a href="$portalPath/home">Home</a></li>
    <span>></span><li>Help</li>
</ul>
<h2 id="page-heading"><span>Help</span></h2>
<div class="grid_16">
<p>Coming up</p>
</div>