#set($pageTitle = "Home")

<div class="page-header">
	<h1 id="page-heading">
		<span>#displayMessage("arms.dashboard.${self.selected}", "$portalId")</span>
	</h1>
</div>

#parseTemplate("home-components/role-switch-board.vm")
<div class="row">
#if ($page.authentication.has_role("admin"))
	<div class="left-col">
		#parseTemplate("menus/home-admin-menu.vm")
	</div>
	<div class="right-col">
#else
	## normal user does not have left hand section
	<div class="full-col">
#end
	    #parseTemplate("home-components/${self.selected}-requests.vm")
    </div>
</div>