#if($noLayout)$!pageContent#else
<!DOCTYPE html>
<html lang="en">
    <head>
        #parseTemplate("layout/html-head.vm")
    </head>
    <body>
        #parseTemplate("layout/jquery-settings.vm")
        #parseTemplate("layout/page-structure.vm")
        #parseTemplate("layout/action-form.vm")
    </body>
</html>
#end
