#parseTemplate( "home-components/package-type.vm" )

#if ($self.roleBoard)
    #set($path = "$portalPath/dashboards/provisioner")
#else
    #set($path = "$portalPath/home")    
#end

#if ($self.section)
    #set($section = "${self.section}.vm")
#else 
    #set($section = "active.vm"))    
#end

<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-corner-all">
    <li class="ui-state-default ui-corner-top #if($section=='active.vm') ui-state-active #end"><a href="$path">Active</a></li>
    <li class="ui-state-default ui-corner-top #if($section=='provisioned.vm') ui-state-active #end"><a href="$path?section=provisioned">Provisioned</a></li>
</ul>

#parseTemplate( "home-components/provisioner/$section" )
