.menu .selected, .facet-list .selected {
    background-color: #F7973F;
}

ul.menu-btn {
	list-style: none;
}

.menu-button {
	background:#F7973F;
	color:#ffffff;
	font-size: 18px;
	width:150px;
	margin:10px;
	padding:5px; 
	overflow:visible;
}

ul.nav, ul.main li a, .box h2 {
    background: #F7973F;
}

ul.main li:hover a {
    background-color: #F7973F;
}

ul.main li:hover ul li a {
    background-color: #F7973F !important;
}

ul.main li:hover ul li a:hover {
    background-color: white !important;
    color:#F7973F !important;
}

ul.main li ul li a {
    background-color: #F7973F;
}

.accordion-header {
    background: #F7973F;
}

.accordion-header.ui-state-active, .accordion-header:hover {
    background: #F7973F;
}

#content .ui-accordion-content {
    background: #EEEEEE;
}

th.header {
    background: #FFF5D2;
}

.box h2 a, .box h2 a.visible {
    background-color: #F7973F;
}

.box h2 a:hover, .box h2 a.visible:hover {
    background-color: white;
    color: #F7973F;
     border: 1px solid #F7973F; 
}

.accordion-reset:hover {
    background-color: #F7973F;
    border: 1px solid #F7973F;    
}

ul.main li:hover a {
 background-color: white;
 color: #F7973F;
 border: 1px solid #F7973F;   
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #F7973F;
    text-decoration: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: white;
    background-color: #F7973F;
    text-decoration: none;
}


ul.main li:hover ul li a:hover {
	background: #F7973F;
}

.ui-widget-header {
	background: #F7973F !important;
}

.ui-tabs-nav.ui-widget-header {
	background: #f4eedc !important;
}

.ui-state-hover a, .ui-state-hover a:hover {
 background-color: #F7973F;
 color: white;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #F7973F;
    font-weight: bold;
}


.article h4 {
    background: none repeat scroll 0 0 #F7973F;
    color: #FFFFFF;
}