/* default values */
@label-text-colour: #000;
@label-link-colour: #fff;

.main-body {
	.container;
}

.branding {
	.container-fluid;
}

.login-info {
	.make-row();
	.container;
	div {
		.make-sm-column(2);
    	.make-md-column(2); 
    	.make-lg-column(2);
    	.make-sm-column-offset(10);
    	.make-md-column-offset(10);
    	.make-lg-column-offset(10);
    	padding-top:4px;
    	background-color: @bar-background-colour;
    	color:@label-text-colour;
		.border-top-radius(4px); 
		a{
			color:@label-link-colour;
		}	
	}

}

.main-menus {
	.container;
}

.navbar, .panel-default > .panel-heading{
	background-color: @bar-background-colour;
}

.nav-tabs-panel {
    background-color: #fff;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
}

.nav-tabs {
	margin-bottom: 10px;
}


.btn-primary {
	background-color: @bar-background-colour;
	border-color: @bar-background-border-colour;
}

.ui-widget-header {
	border:1px solid @bar-background-border-colour;
 	background:none;
 	background-color: @bar-background-colour;
}

.navbar-default {
	.navbar;
	.navbar-nav {
	
		>li{
			>a{ 
					color:@label-link-colour;
			}
		}
	}
}

ul.menu {
	list-style: none;
}

.page-content {
	.container;
}

/* not defined yet
.page-header {
	
}

*/
.left-col {
	.make-sm-column(3);
    .make-md-column(2); 
    .make-lg-column(2);
}

.right-col {
	.make-sm-column(7);
    .make-md-column(10);
    .make-lg-column(10);
}

.full-col{
	.make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);
}

.navbar-default {
	border-top-right-radius:0px;
}