<script type="text/javascript">
    function _chown(oid) {
        jQuery.ajax({
            url : "$portalPath/grantAccess.ajax",
            data : {
                action : "change",
                oid : oid,
                source : "hibernateAccessControl",
                new_owner : "admin"
            },
            dataType : 'json',
            success : function() {
                setInterval(function() {
                    window.location.href = "$portalPath/home";
                }, 1500)
            },
            error : function(req) {
                alert("Attention is needed:\n" + req.responseText)
            }
        });
    }
    
## UI is javascript confirm, can be called directly 
    function change_owner(oid) {
        var r=confirm("Are you sure to delete?");
        if (r!=false) {
            _chown(oid);
        }
    }
## UI is a jQuery UI dialog    
    function delete_record(oid) {
        $("#delete-record").data('oid', oid).dialog("open");
    }

	$(function () {
        $("#delete-record").dialog({
            autoOpen: false,
            resizable : false,
            modal : true,
            buttons : {
                "Delete" : function() {
                    $(this).dialog("close");
                    var oid =  $(this).data('oid');
                    _chown(oid);
                },
                "Cancel" : function() {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>

<div id="delete-record">
<h3 style="text-align:center">Delete</h3>
<p>Really delete this draft request?</p>
</div>
## End of UI is a jQuery UI dialog   
