<div class="grid_16 branding">
    <h1 id="branding"><a href="$portalPath/home"><img height="100"  src="$portalPath/images/logo.png" /></a><a style="float:right;"	 href="http://rdsi.uq.edu.au/"><img height="100" src="$portalPath/images/logo-rdsi.png" /></a></h1>
</div>
<div class="clear"></div>