#parse($page.getTemplate('layout/html-head-title.vm'))
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" type="image/vnd.microsoft.com" href="$portalPath/favicon.ico" />
<link rel="stylesheet" type="text/css" href="$portalPath/css/ui-lightness/jquery-ui-1.7.2.custom.css" media="screen" />
<script type="text/javascript" src="$portalPath/js/json2.min.js"></script>
<link rel="stylesheet" type="text/css" href="$portalPath/css/ui-lightness-1.10.3/jquery-ui-1.10.3.custom.css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="$portalPath/js/jquery-fileupload/vendor/jquery.ui.widget.js"></script>
<script src="$portalPath/js/jquery-fileupload/jquery.iframe-transport.js"></script>
<script src="$portalPath/js/jquery-fileupload/jquery.fileupload.js"></script>
<script type='text/javascript' src='//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js'></script>
$!pageHeader
#parse($page.getTemplate('layout/html-head-links.vm'))
#parse($page.getTemplate('layout/html-head-scripts.vm'))
