.menu .selected, .facet-list .selected {
    background-color: #0091b6;
}

ul.menu-list {
	list-style: none;
	margin-bottom:0;
}

.align-right {
	text-align:right;
}

.menu-button {
	background:#0091b6;
	color:#ffffff;
	font-size: 18px;
	margin:10px;
	padding:5px 1em; 
	overflow:visible;
}

ul.nav, ul.main li a, .box h2 {
    background: #0091b6;
}

ul.main li:hover a {
    background-color: #0091b6;
}

ul.main li:hover ul li a {
    background-color: #0091b6 !important;
}

ul.main li:hover ul li a:hover {
    background-color: white !important;
    color:#0091b6 !important;
}

ul.main li ul li a {
    background-color: #0091b6;
}

.accordion-header {
    background: #0091b6;
}

.accordion-header.ui-state-active, .accordion-header:hover {
    background: #0091b6;
}

#content .ui-accordion-content {
    background: #EEEEEE;
}

th.header {
    background: #FFF5D2;
}

.box h2 a, .box h2 a.visible {
    background-color: #0091b6;
}

.box h2 a:hover, .box h2 a.visible:hover {
    background-color: white;
    color: #0091b6;
     border: 1px solid #0091b6; 
}

.accordion-reset:hover {
    background-color: #0091b6;
    border: 1px solid #0091b6;
}
ul.breadcrumb {
    margin: 0 !important;
    margin-bottom: 10px !important;
}

ul.breadcrumb span {
  color: #d9d9d9;
}

ul.breadcrumb li {
  border-bottom: 1px solid #d9d9d9;
  list-style-type: none;
  display: inline-block;
  margin: 2px !important;
  background-color: #ffffff;
  padding: 3px;
}

ul.breadcrumb li.breadcrumb-link a{
  color: #0091b6;
}

ul.breadcrumb li.breadcrumb-link:hover {
  background-color: #0091b6;
}

ul.breadcrumb li.breadcrumb-link:hover a{
  color: #ffffff;
}

ul.main li:hover a {
 background-color: white;
 color: #0091b6;
 border: 1px solid #0091b6;   
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #0091b6;
    text-decoration: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: white;
    background-color: #0091b6;
    text-decoration: none;
}


ul.main li:hover ul li a:hover {
	background: #0091b6;
}

.ui-widget-header {
	background: #0091b6 !important;
}

.ui-tabs-nav.ui-widget-header {
	background: #f4eedc !important;
}

.ui-state-hover a, .ui-state-hover a:hover {
 background-color: #0091b6;
 color: white;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #0091b6;
    font-weight: bold;
}


.article h4 {
    background: none repeat scroll 0 0 #0091b6;
    color: #FFFFFF;
}