#if($page.authentication.is_logged_in())

    #set($menuTitle = "Options")
    #parseTemplate("wrapping/main-menu-open.vm")
    <ul class="menu">
        <li>
            <a id="new-request" href="#" title="New holding record">#displayMessage("arms.dashboard.admin.menu.new")</a>
        </li>
    </ul>
    #parseTemplate("wrapping/main-menu-close.vm")

<script type="text/javascript">
$(function() {
    var jQ = $;
    var processing = false;
    jQ("#new-request").click(function() {
        if (processing) return;
        processing = true;
        jQ("#new-request").append('<img class="right" src="$portalPath/images/icons/loading.gif" />');
        jQ.ajax({
            type: "POST",
            url: "$portalPath/actions/packaging.ajax",
            data: {
                ajax: 1,
                func: "create-new",
                packageType: "arms",
                metaList: ["title", "description", "redbox:newForm", "redbox:formVersion"],
                title: "[Untitled]",
                description: "",
                "redbox:newForm": "true",
                "redbox:formVersion": "$systemConfig.getString("", "redbox.version.string")"
            },
            success: function(data) {
                if (data.status == "ok") {
                    function redirect() {
                        window.location.href = data.url;
                    }
                    setTimeout(redirect, 1500);
                } else {
                    alert("#displayMessage('error-record-create-failed')");
                }
            },
            error: function(xhr, status, e) {
                alert("#displayMessage('error-record-create-failed')");
            },
            dataType: "json"
        });
        return false;
    });
});

</script>
#end