## load pagination controls
#parseTemplate("home-components/pagingControl.vm")
#parseTemplate("home-components/reviewer/tables.vm")

#set($menuTitle = "#displayMessage('arms.dashboard.reviewer.pending')")
#parseTemplate("wrapping/info-box-open.vm")

##arms
#ReviewerSubmitted('arms','arms.dashboard.reviewer.review.h4.origin')

##arms-storage
#ReviewerSubmitted('arms-storage','arms.dashboard.reviewer.review.h4.storage')

#parseTemplate("wrapping/info-box-close.vm")

#set($menuTitle = "#displayMessage('arms.dashboard.reviewer.assessment')")
#parseTemplate("wrapping/info-box-open.vm")

#ReviewerAssessing('arms','arms.dashboard.reviewer.assessing.h4.origin')
#ReviewerAssessing('arms-storage','arms.dashboard.reviewer.assessing.h4.storage')

#parseTemplate("wrapping/info-box-close.vm")

#set($menuTitle = "#displayMessage('arms.dashboard.assessor.submitted')")
#parseTemplate("wrapping/info-box-open.vm")

#ReviewerAssessed('arms','arms.dashboard.reviewer.assessed.h4.origin')
#ReviewerAssessed('arms-storage','arms.dashboard.reviewer.assessed.h4.storage')

#parseTemplate("wrapping/info-box-close.vm")

#set($menuTitle = "#displayMessage('arms.dashboard.provisioner.provisioned')")
#parseTemplate("wrapping/info-box-open.vm")

#ReviewerProvisioned('arms','arms.dashboard.reviewer.provisioned.h4.origin')
#ReviewerProvisioned('arms-storage','arms.dashboard.reviewer.provisioned.h4.storage')

#parseTemplate("wrapping/info-box-close.vm")

#set($menuTitle = "#displayMessage('arms.dashboard.reviewer.resubmission')")
#parseTemplate("wrapping/info-box-open.vm")
#set($results = $self.getAllStates("$packageType", 'arms-redraft'))
#if ($results && $results.size() > 0)

<script>
var redraftRecords = new DataRowsModel('redraft');
redraftRecords.prepareData = function(data) {
    for(var i=0; i < data.length; i++) {
        data[i]["detailUrl"] = '$portalPath/detail/' + data[i].id;
        data[i]["editUrl"] = '$portalPath/workflow/' + data[i].id;;
        this.rows.push(data[i]);
    }
}

jQuery(document).ready(function() {
    ko.applyBindings(redraftRecords, jQuery('#redraftRecordsTbl')[0]);
    setupPagingCtrls('redraftRecordsPaging', redraftRecords, $results);
});
</script>

<div class="block">
<table id="redraftRecordsTbl" data-bind="stopBindings: true">
    <thead>
        <tr>
            <th>#displayMessage('arms.requests.table.title')</th>
            <th>#displayMessage('arms.requests.table.submitted')</th>
            <th>#displayMessage('arms.requests.table.returned')</th>
            <th>#displayMessage('arms.requests.table.action')</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: rows">
        <tr>
        <td><a data-bind="attr: {href: detailUrl}, text: dc_title"></a></td>
        <td data-bind="text: arms_review_eventTime"/>
        <td data-bind="text: arms_redraft_eventTime"></td>
        <td><a data-bind="attr: {href: editUrl}"><img alt="#displayMessage('arms.requests.action.edit')" src="$portalPath/images/icons/workflow_edit.png" title="#displayMessage('arms.requests.action.edit')"></a></td>
        </tr>
    </tbody>
</table>
#setPagingCtrl("redraftRecordsPaging")

</div>
#end

#parseTemplate("form-components/wordform.vm")