#set($hasWorkflow = $self.hasWorkflow())
#set($hasWorkflowAccess = $self.hasWorkflowAccess())
#if($hasWorkflow && $hasWorkflowAccess && !$parent.isPending())
    #set($workflowStep = $self.getWorkflowStep())
    <li>
    #if($page.authentication.has_role('assessor'))
        <a href="$portalPath/assess/$oid" title="$workflowStep">Assess request</a>
    #else
        <a href="$portalPath/workflow/$oid" title="$workflowStep">Edit Workflow: $workflowStep</a>
    #end        
    </li>
#end
