#set($menuTitle = "#displayMessage('arms.home.myarmsrequests.title')")
#parseTemplate("wrapping/info-box-open.vm")
<div class="block">
#set($results = $self.getListOfStage('arms-request'))

#if ($results && $results.size() > 0)
<script>
jQuery(document).ready(function() { 
	ko.applyBindings(myRecords, jQuery('#myRecordsTbl')[0]);
	setupPagingCtrls('myRecordsPaging', myRecords);
	myRecords.reloadRecords();
});
</script>

<table id="myRecordsTbl" data-bind="stopBindings: true">
    <thead>
        <tr>
            <th>#displayMessage('arms.home.requests.table.dataset')</th>
            <th>#displayMessage('arms.home.requests.table.created')</th>
            <th>#displayMessage('arms.home.requests.table.modified')</th>
            <th>#displayMessage('arms.home.requests.manage.edit')</th>
	    <th>Share</th>
	    <th>Delete</th>            
        </tr>
    </thead>
    <tbody data-bind="foreach: rows">
	#foreach($item in $results)
	    #set($oid = $item.get("id"))
	    <tr>
	    	<td><a href="$portalPath/detail/$oid">$item.get("dc_title")</a></td>
		<td>$self.formatDate($item.get("create_timestamp"))</td>
		<td>$self.formatDate($item.get("last_modified"))</td>
	        <td><a href="$portalPath/workflow/$oid"><img alt="#displayMessage('arms.home.request.manage.edit')" src="$portalPath/images/icons/workflow_edit.png" title="#displayMessage('arms.home.requests.manage.edit')"></a>
	        <td><a href="#" onclick="manage_access('$oid');" title="#displayMessage('researcher-dashboard.home.myplans.manage.access')"><img alt="#displayMessage('researcher-dashboard.home.myplans.manage.access')" src="$portalPath/images/icons/application_key.png"></a></td>
	        <td><a href="#" onclick="change_owner('$oid');" title="Delete request"><img alt="Delete request" src="$portalPath/images/icons/delete.png"></a></td>
	    </tr>
	#end
        <tr>
	    <td><a data-bind="attr: {href: href}, text: dc_title"></a></td>
	    <td data-bind="text: create_timestamp"/>
	    <td data-bind="text: last_modified"/>
	        <td><a data-bind="attr: {href: editUrl}"><img alt="#displayMessage('arms.home.request.manage.edit')" src="$portalPath/images/icons/workflow_edit.png" title="#displayMessage('arms.home.requests.manage.edit')"></a>
	        <td><a href="#" data-bind="click: $parent.manageAccess" title="#displayMessage('researcher-dashboard.home.myplans.manage.access')"><img alt="#displayMessage('researcher-dashboard.home.myplans.manage.access')" src="$portalPath/images/icons/application_key.png"></a></td>
	        <td><a href="#" onclick="click: $parent.changeOwner;" title="Delete request"><img alt="Delete request" src="$portalPath/images/icons/delete.png"></a></td>
        </tr>
    </tbody>
</table>
#set($paging = $self.paging)
#set($currentPage = $paging.page)
#set($lastPage = $paging.lastPage)
<p>This needs to be fixed: when there is only one page $currentPage $paging.pages.size()</p>
#if($paging.pages.size() >= 1)
<div id="myRecordsPaging" class="paging">
  <ul>
    #foreach($pageNum in $paging.pages)
      #if($pageNum.selected)
        <li><a class="selected-page" rel="$pageNum.value">$pageNum.value</a></li>
      #else
        <li><a class="select-page" rel="$pageNum.value" href="#">$pageNum.value</a></li>
      #end
    #end
  </ul>
</div>
#end
#end
</div>
#parseTemplate("wrapping/info-box-close.vm")

#set($menuTitle = "#displayMessage('arms.home.requests.submitted.title')")
#parseTemplate("wrapping/info-box-open.vm")
<div class="block">
#set($results = $self.getListOfStage('arms-submitted,arms-allocation-committee,arms-provisioning,arms-completed'))
#if ($results && $results.size() > 0)
<script>
jQuery(document).ready(function() { 
	ko.applyBindings(submittedResults, jQuery('#submittedResultsTbl')[0]);
	setupPagingCtrls('submittedRecordPaging', submittedResults);
	submittedResults.reloadRecords();
});
</script>

<table id="submittedResultsTbl" data-bind="stopBindings: true">
    <thead>
        <tr>
            <th>#displayMessage('arms.home.requests.table.dataset')</th>
            <th>#displayMessage('arms.home.requests.table.created')</th>
            <th>#displayMessage('arms.home.requests.table.modified')</th>
            <th>#displayMessage('arms.home.requests.table.status')</th>
        </tr>
    </thead>
    <tbody>
	#foreach($item in $results)
	    #set($oid = $item.get("id"))
	    <tr>
	    	<td><a href="$portalPath/detail/$oid">$item.get("dc_title")</a></td>
            <td>$self.formatDate($item.get("create_timestamp"))</td>
            <td>$self.formatDate($item.get("last_modified"))</td>
	        <td>$item.get("workflow_step_label")</td>
	    </tr>
	#end
        <tr data-bind="foreach: rows">
	    <td><a data-bind="attr: {href: href}, text: dc_title"></a></td>
	    <td data-bind="text: create_timestamp"/>
	    <td data-bind="text: last_modified"/>
	    <td data-bind="text: workflow_step_label"/>
        </tr>
    </tbody>
</table>
#end
<div id="submittedRecordPaging" class="paging">
  <ul>
    #foreach($pageNum in $paging.pages)
      #if($pageNum.selected)
        <li><a class="selected-page" rel="$pageNum.value">$pageNum.value</a></li>
      #else
        <li><a class="select-page" rel="$pageNum.value" href="#">$pageNum.value</a></li>
      #end
    #end
  </ul>
</div>
</div>
#parseTemplate("wrapping/info-box-close.vm")

#parseTemplate("form-components/access-control.vm")

#set($results = $self.getShared())
#if ($results && $results.size() > 0)
<script>
jQuery(document).ready(function() { 
	ko.applyBindings(sharedResults, $('#sharedResultsTbl')[0]);
	setupPagingCtrls('sharedRecordPaging', sharedResults);
	sharedResults.reloadRecords();
});
</script>
#set($menuTitle = "#displayMessage('arms.home.requests.shared.title')" )
#parseTemplate("wrapping/info-box-open.vm")
<div class="block">
<table id="sharedResultsTbl" data-bind="stopBindings: true">
    <thead>
        <tr>
            <th>#displayMessage('arms.home.requests.table.dataset')</th>
            <th>#displayMessage('arms.home.requests.table.created')</th>
            <th>#displayMessage('arms.home.requests.table.modified')</th>
            <th>#displayMessage('arms.home.requests.table.status')</th>
        </tr>
    </thead>
    <tbody>
	#foreach($item in $results)
	    #set($oid = $item.get("id"))
	    <tr>
	    	<td><a href="$portalPath/detail/$oid">$item.get("dc_title")</a></td>
            <td>$self.formatDate($item.get("create_timestamp"))</td>
            <td>$self.formatDate($item.get("last_modified"))</td>
	        <td>$item.get("workflow_step_label")</td>
	    </tr>
	#end
        <tr data-bind="foreach: rows">
	    <td><a data-bind="attr: {href: href}, text: dc_title"></a></td>
	    <td data-bind="text: create_timestamp"/>
	    <td data-bind="text: last_modified"/>
	    <td data-bind="text: workflow_step_label"/>
        </tr>
    </tbody>
</table>
<div id="sharedRecordPaging" class="paging">
  <ul>
    #foreach($pageNum in $paging.pages)
      #if($pageNum.selected)
        <li><a class="selected-page" rel="$pageNum.value">$pageNum.value</a></li>
      #else
        <li><a class="select-page" rel="$pageNum.value" href="#">$pageNum.value</a></li>
      #end
    #end
  </ul>
</div>
</div>
#parseTemplate("wrapping/info-box-close.vm")
#end

<script>
    function prepareHelps() {
    	var help_contents = $('.pre-help-content');
    	for (var i = 0; i < help_contents.length; i++ ) {
    		$(help_contents[i]).hide().attr("class","help-content");
    		var helpToggleHtml = "<button class=\"jaffaHelpToggle\"></button>";
    	    helpToggle = $(helpToggleHtml);
    	    helpToggle.button({icons: {primary:'ui-icon-help'}});

    	    // Setup click logic
    	    helpToggle.click(function(){$(this).next().toggle('fast');});

    	    // And attach to our container
    	    helpToggle.insertBefore(help_contents[i]);	
    	}
    }
 $(document).ready(function() {
	prepareHelps();
 });

</script>

<script type='text/javascript' src='//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js'></script>

<script>
var myRecords = new myRecordsModel();
var submittedResults = new submittedResultsModel();
var sharedResults = new sharedResultsModel();

function setupPagingCtrls(ctrlID, modelInst) {
	$("#"+ ctrlID +" a").click(function() {
	    $("#"+ ctrlID +" .selected-page").addClass("select-page").removeClass("selected-page").attr("href","#");
  		$(this).removeClass("select-page").addClass("selected-page").removeAttr("href");
		var pN = $(this).attr("rel");
  		modelInst.reloadRecords(pN);
        return false;
    });
}

function submittedResultsModel() {
	var self = this;
	self.rows = ko.observableArray([]);

	self.reloadRecords = function(pageN) {
		self.rows.removeAll();
		if (pageN == null) { pageN = 1; }
		jQuery.getJSON('$portalPath/dashboards/records.script?searchType=submitted&pageNum='+pageN, function(data) {
			var x;
	    	for(var i=0; i < data.length; i++) {
			    data[i].href = ko.computed(function() {
				  return '$portalPath/detail/' + data[i].id;
			    });
				data[i]["create_timestamp"] = formatDate(data[i]["create_timestamp"]);
				data[i]["last_modified"] = formatDate(data[i]["last_modified"]);
	    		self.rows.push(data[i]);
	    	}
		});
	};
}

function sharedResultsModel() {
	var self = this;
	self.rows = ko.observableArray([]);

	self.reloadRecords = function(pageN) {
		self.rows.removeAll();
		if (pageN == null) { pageN = 1; }
		jQuery.getJSON('$portalPath/dashboards/records.script?searchType=shared&pageNum='+pageN, function(data) {
			var x;
	    	for(var i=0; i < data.length; i++) {
			    data[i].href = ko.computed(function() {
				  return '$portalPath/detail/' + data[i].id;
			    });
				data[i]["create_timestamp"] = formatDate(data[i]["create_timestamp"]);
				data[i]["last_modified"] = formatDate(data[i]["last_modified"]);
	    		self.rows.push(data[i]);
	    	}
		});
	};
}

function myRecordsModel() {
    var self = this;
    self.rows = ko.observableArray([]);
    self.manageAccess = function(item) { manage_access(item.id); };
    self.changeOwner = function(item) { change_owner(item.id); };
    self.reloadRecords = function(pageN) {
		self.rows.removeAll();
		if (pageN == null) { pageN = 1; }
		console.debug("pageNum passed is " + pageN);
		jQuery.getJSON('$portalPath/dashboards/records.script?pageNum='+pageN, function(data) {
	    	for(var i=0; i < data.length; i++) {
			    data[i].href = '$portalPath/detail/' + data[i].id;
				data[i]["create_timestamp"] = formatDate(data[i]["create_timestamp"]);
				data[i]["last_modified"] = formatDate(data[i]["last_modified"]);
				data[i]["editUrl"] = '$portalPath/workflow/' + data[i].id;;
	    		self.rows.push(data[i]);
	    	}
   		});
    };
}

function zeroFill( number, width )
{
  width -= number.toString().length;
  if ( width > 0 )
  {
    return new Array( width + (/\./.test( number ) ? 2 : 1) ).join( '0' ) + number;
  }
  return number + ""; // always return a string
}

// Convert a full UTC date into format of dd/mm/yyyy
function formatDate(od) {
    var d = new Date(od);
    var newD = zeroFill(d.getUTCDate(),2) + '/' + zeroFill(parseInt(d.getUTCMonth())+1,2) + '/' + d.getUTCFullYear();
    return newD;
}

</script>
