#parseTemplate( "home-components/package-type.vm" )

#if ($self.roleBoard)
    #set($path = "$portalPath/dashboards/provisioner")
#else
    #set($path = "$portalPath/home")    
#end

#if ($self.section)
    #set($section = "${self.section}.vm")
#else 
    #set($section = "active.vm"))    
#end

<div class="nav-tabs-panel">
    <ul class="nav nav-tabs">
        <li class="#if($section=='active.vm') active #end"><a href="$path">Active</a></li>
        <li class="#if($section=='provisioned.vm') active #end"><a href="$path?section=provisioned">Provisioned</a></li>
    </ul>
</div>

#parseTemplate( "home-components/provisioner/$section" )
