#parseTemplate( "home-components/package-type.vm" )

## load pagination controls lazily
#parseTemplate("home-components/pagingControl.vm")

## Create a macro for creating tables which list recored submitted by user or shared with user
#macro(setMyRelatedTbl $prefix $results) 
<script>
var ${prefix}Results = new DataRowsModel('${prefix}');
${prefix}Results.prepareData = function(data) {
    for(var i=0; i < data.length; i++) {
        data[i]["detailUrl"] = '$portalPath/detail/' + data[i].id;
        this.rows.push(data[i]);
    }
}

jQuery(document).ready(function() { 
    ko.applyBindings(${prefix}Results, jQuery('#${prefix}ResultsTbl')[0]);
    setupPagingCtrls('${prefix}RecordPaging', ${prefix}Results, $results);
});
</script>

<table class="table table-striped" id="${prefix}ResultsTbl" data-bind="stopBindings: true">
    <thead>
        <tr>
            <th>#displayMessage('arms.requests.table.title')</th>
            <th>#displayMessage('arms.requests.table.date')</th>
            <th>#displayMessage('arms.requests.table.status')</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: rows">
        <tr>
        <td><a data-bind="attr: {href: detailUrl}, text: dc_title"></a></td>
        <td data-bind="text: eventTime"/>
        <td data-bind="text: workflow_step_label"/>
        </tr>
    </tbody>
</table>
#setPagingCtrl("${prefix}RecordPaging")
#end

<div class="panel panel-default">
<div class="panel-heading"><h4>#displayMessage('arms.dashboard.requestor.draft')</h4></div>
<div class="panel-body">
#set($results = $self.getListOfStage("$packageType", 'arms-draft'))

#if ($results && $results.size() > 0)
<script>
var myRecords = new DataRowsModel("requestor");
myRecords.changeOwner = function(item) { delete_record(item.id); };
myRecords.prepareData = function(data) {
    for(var i=0; i < data.length; i++) {
        data[i]["detailUrl"] = '$portalPath/detail/' + data[i].id;
        data[i]["editUrl"] = '$portalPath/workflow/' + data[i].id;;
        this.rows.push(data[i]);
    }
}

jQuery(document).ready(function() { 
    ko.applyBindings(myRecords, jQuery('#myRecordsTbl')[0]);
    setupPagingCtrls('myRecordsPaging', myRecords, $results);
});

</script>

<table class="table table-striped" id="myRecordsTbl" data-bind="stopBindings: true">
    <thead>
        <tr>
            <th>#displayMessage('arms.requests.table.title')</th>
            <th>#displayMessage('arms.requests.action.edit')</th>
            <th>#displayMessage('arms.requests.action.delete')</th>        
        </tr>
    </thead>
    <tbody data-bind="foreach: rows">
        <tr>
        <td><a data-bind="attr: {href: detailUrl}, text: dc_title"></a></td>
        <td><a data-bind="attr: {href: editUrl}"><img alt="#displayMessage('arms.requests.action.edit')" src="$portalPath/images/icons/workflow_edit.png" title="#displayMessage('arms.requests.action.edit')"></a></td>
        <td><a href="#" data-bind="click: $parent.changeOwner" title="Delete request"><img alt="Delete request" src="$portalPath/images/icons/delete.png"></a></td>
        </tr>
    </tbody>
</table>
#setPagingCtrl("myRecordsPaging")
#end

#parseTemplate( "home-components/create-request.vm" )
</div>
</div>

#set($results = $self.getListOfStage("$packageType", 'arms-redraft'))
#if ($results && $results.size() > 0)
#set($menuTitle = "#displayMessage('arms.dashboard.requestor.resubmission')")
#parseTemplate("wrapping/info-box-open.vm")
<div class="block">
<script>
var redraftRecords = new DataRowsModel("redraft");
redraftRecords.prepareData = function(data) {
    for(var i=0; i < data.length; i++) {
        data[i]["detailUrl"] = '$portalPath/detail/' + data[i].id;
        data[i]["editUrl"] = '$portalPath/workflow/' + data[i].id;;
        this.rows.push(data[i]);
    }
}

jQuery(document).ready(function() { 
    ko.applyBindings(redraftRecords, jQuery('#redraftRecordsTbl')[0]);
    setupPagingCtrls('redraftRecordsPaging', redraftRecords, $results);
});

</script>

<table class="table table-striped" id="redraftRecordsTbl" data-bind="stopBindings: true">
    <thead>
        <tr>
            <th>#displayMessage('arms.requests.table.title')</th>
            <th>#displayMessage('arms.requests.action.edit')</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: rows">
        <tr>
        <td><a data-bind="attr: {href: detailUrl}, text: dc_title"></a></td>
        <td><a data-bind="attr: {href: editUrl}"><img alt="#displayMessage('arms.requests.action.edit')" src="$portalPath/images/icons/workflow_edit.png" title="#displayMessage('arms.requests.action.edit')"></a></td>
        </tr>
    </tbody>
</table>
#setPagingCtrl("redraftRecordsPaging")
</div>
#parseTemplate("wrapping/info-box-close.vm")
#end

#parseTemplate("form-components/delete-record.vm")

#set($menuTitle = "#displayMessage('arms.dashboard.requestor.submitted')")
#parseTemplate("wrapping/info-box-open.vm")
<div class="block">
#set($results = $self.getLatestState("$packageType", 'arms-review,arms-assessment,arms-approved,arms-provisioned,arms-rejected'))
#if ($results && $results.size() > 0)
    #setMyRelatedTbl('submitted' $results)
#end
</div>
#parseTemplate("wrapping/info-box-close.vm")

#set($results = $self.getShared())
#if ($results && $results.size() > 0)
#set($menuTitle = "#displayMessage('arms.dashboard.requestor.shared')" )
#parseTemplate("wrapping/info-box-open.vm")
<div class="block">
    #setMyRelatedTbl('shared' $results)
</div>
#parseTemplate("wrapping/info-box-close.vm")
#end
