#set($menuTitle = "#displayMessage('arms.home.reviewer-dashboard.pending.title')")
#parseTemplate("wrapping/info-box-open.vm")
<div class="block">
#set($results = $self.getListOfStage('arms-submitted'))
#if ($results && $results.size() > 0)
<table>
    <thead>
        <tr>
            <th>#displayMessage('arms.home.requests.table.collection.title')</th>
            <th>#displayMessage('arms.home.requests.table.status')</th>
            <th>#displayMessage('arms.home.requests.table.manage')</th>
        </tr>
    </thead>
    <tbody>
	#foreach($item in $results)
	    #set($oid = $item.get("id"))
	    <tr>
	    	<td><a href="$portalPath/detail/$oid">$item.get("dc_title")</a></td>
	    	<td>$item.get("workflow_step_label")</td>
	    	<td><a href="$portalPath/workflow/$oid"><img alt="#displayMessage('arms.home.request.manage.edit')" src="$portalPath/images/icons/workflow_edit.png" title="#displayMessage('arms.home.requests.manage.edit')"></a>
	    </tr>
	#end
    </tbody>
</table>
#end
</div>
#parseTemplate("wrapping/info-box-close.vm")