#parseTemplate( "home-components/package-type.vm" )

#if ($self.roleBoard)
    #set($path = "$portalPath/dashboards/reviewer")
#else
    #set($path = "$portalPath/home")    
#end

#parseTemplate("wrapping/info-box-open.vm")
<nav>
<ul>
    <li><a href="$path">Active</a></li>
    <li><a href="$path?section=provisioned">Provisioned</a></li>
    <li><a href="$path?section=rejected">Rejected</a></li>
</ul>
</nav>
#parseTemplate("wrapping/info-box-close.vm")
 
#if ($self.section)
    #set($section = "${self.section}.vm")
#else 
    #set($section = "active.vm"))    
#end

#parseTemplate( "home-components/reviewer/$section" )
