#parseTemplate( "home-components/package-type.vm" )

#set($menuTitle = "#displayMessage('arms.dashboard.reviewer.pending')")
#parseTemplate("wrapping/info-box-open.vm")

#set($results = $self.getListOfStage("$packageType", 'arms-review,arms-assessment'))
#if ($results && $results.size() > 0)

## load pagination controls
#parseTemplate("home-components/pagingControl.vm")

<script>
var myRecords = new DataRowsModel('reviewer');
myRecords.prepareData = function(data) {
    for(var i=0; i < data.length; i++) {
        data[i]["detailUrl"] = '$portalPath/detail/' + data[i].id;
        data[i]["editUrl"] = '$portalPath/workflow/' + data[i].id;;
        this.rows.push(data[i]);
    }
}

jQuery(document).ready(function() { 
    ko.applyBindings(myRecords, jQuery('#myRecordsTbl')[0]);
    setupPagingCtrls('myRecordsPaging', myRecords, $results);
});
</script>

<div class="block">
<table id="myRecordsTbl" data-bind="stopBindings: true">
    <thead>
        <tr>
            <th>#displayMessage('arms.requests.table.title')</th>
            <th>#displayMessage('arms.requests.table.submitted')</th>
            <th>#displayMessage('arms.requests.table.lastaction')</th>
            <th>#displayMessage('arms.requests.table.lastdate')</th>
            <th>#displayMessage('arms.requests.table.action')</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: rows">
        <tr>
	    <td><a data-bind="attr: {href: detailUrl}, text: dc_title"></a></td>
	    <td data-bind="text: 'submitted date: coming'"/>
        <td data-bind="text: 'translated stage: coming'"></td>
        <td data-bind="text: 'date: coming'"></td>
        <td><a data-bind="attr: {href: editUrl}"><img alt="#displayMessage('arms.requests.action.edit')" src="$portalPath/images/icons/workflow_edit.png" title="#displayMessage('arms.requests.action.edit')"></a></td>
        </tr>
    </tbody>
</table>
#setPagingCtrl("myRecordsPaging")

</div>
#end
#parseTemplate("wrapping/info-box-close.vm")

#set($menuTitle = "#displayMessage('arms.dashboard.reviewer.assessment')")
#parseTemplate("wrapping/info-box-open.vm")#parseTemplate("wrapping/info-box-close.vm")
#set($menuTitle = "#displayMessage('arms.dashboard.reviewer.approved')")
#parseTemplate("wrapping/info-box-open.vm")#parseTemplate("wrapping/info-box-close.vm")
#set($menuTitle = "#displayMessage('arms.dashboard.reviewer.resubmission')")
#parseTemplate("wrapping/info-box-open.vm")#parseTemplate("wrapping/info-box-close.vm")
#set($menuTitle = "#displayMessage('arms.dashboard.provisioner.provisioned')")
#parseTemplate("wrapping/info-box-open.vm")#parseTemplate("wrapping/info-box-close.vm")
#set($menuTitle = "#displayMessage('arms.dashboard.reviewer.rejected') -- advanced workflow")
#parseTemplate("wrapping/info-box-open.vm")#parseTemplate("wrapping/info-box-close.vm")
