        #set($rolestring = $page.authentication.get_roles())
        #set($roles = $rolestring.split(","))
        #if ($roles.size() > 2)
        <div id="role-switch-board-wrapper" class="grid_16">
        <ul class="ui-widget ui-tabs-nav ui-corner-all">
        ## need mapping role with dashboards
            #foreach ($r in $roles)
            #set($r = $r.trim())
                #if($r == "admin") 
                <li class="ui-state-default ui-corner-top #if($self.selected == "admin") ui-state-active #end"><a href="$portalPath/dashboards/admin">$r</a></li>
                #elseif($r == "reviewer") 
                <li class="ui-state-default ui-corner-top #if($self.selected == "reviewer") ui-state-active #end"><a href="$portalPath/dashboards/reviewer">$r</a></li>
                #elseif($r == "committee") 
                <li class="ui-state-default ui-corner-top #if($self.selected == "committee") ui-state-active #end"><a href="$portalPath/dashboards/committee">$r</a></li>
                #elseif($r == "requester") 
                <li class="ui-state-default ui-corner-top #if($self.selected == "requester") ui-state-active #end"><a href="$portalPath/dashboards/requester">$r</a></li>
                #elseif($r == "provisioner") 
                <li class="ui-state-default ui-corner-top #if($self.selected == "provisioner") ui-state-active #end"><a href="$portalPath/dashboards/provisioner">$r</a></li>
                #end 
            #end
        </ul>    
        #end
        </div>
        <div class="clear"></div>
<style type="text/css">
div#role-switch-board-wrapper {
    margin-bottom: 1em;
    border-bottom: 1px solid #CCCCCC;
}

ul.ui-tabs-nav li {
    list-style: none outside none;
    float: left;
    margin: 1px 0.2em 0 0;
}
ul.ui-tabs-nav li a {
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    float: left
}
</style>
