<div class="clear"></div>
<style type="text/css">
div#role-switch-board-wrapper {
    margin-bottom: 1em;
    border-bottom: 1px solid #CCCCCC;
}

ul.ui-tabs-nav li {
    list-style: none outside none;
    float: left;
    margin: 1px 0.2em 0 0;
}
ul.ui-tabs-nav li a {
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    float: left
}
</style>
