<div class="box" id="login-form" style="display:none">
  #set($providers = $page.getSsoProviders())
  #if($systemConfig.getString("","environment") !="proto")
	  #foreach($ssoId in $providers.keySet())
	  <form class="ssoLogin" method="post" action="#">
	    <fieldset class="search">
	      <legend>$providers.get($ssoId).get("label")</legend>
	      $providers.get($ssoId).get("interface")
	    </fieldset>
	  </form>
	  #end
  #end
  <div class="or">OR</div>
  <form id="login" method="post" action="#">
    <fieldset class="search">
      <legend>Login details</legend>
      <div class="login-error hidden" id="login-error">
        <img class="hidden" id="login-loading" src="$portalPath/images/icons/loading.gif" alt="Loading" />
        <span id="login-message"></span>
      </div>
      <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
      </p>
      <input id="login-submit" type="button" value="Login" />
      <input id="login-cancel" type="button" value="Close" />
    </fieldset>
  </form>
</div>
  