## When rendering for web pages, it has $self variable - use it as a switch 
#if($self)
<link href="$portalPath/css/package-arms/screen.css" rel="stylesheet" type="text/css" media="screen"/>
#set($workflowStage = $self.workflowStage)
#set($item = $self.item)
#if($page.authentication.has_role('reviewer'))
#set($isReviewer = true)
#end
#else
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="default/rdsi/css/package-arms/screen.css" rel="stylesheet" type="text/css" media="print"/>
<link href="default/rdsi/css/package-arms/print.css" rel="stylesheet" type="text/css" media="print"/>
</head>
<body>
<h1>#getValue("dc:title")</h1>
#end
## common part starts from here
#if ($isReviewer)
<p>[Reviewer's version]</p>
<p><a href="$portalPath/download/$oid/reviewer.pdf">Download request as a PDF</a></p>
#else
<p><a href="$portalPath/download/$oid/request.pdf">Download request as a PDF</a></p>
#end

<p>#displayMessage("arms.field.label.requestID") #getValue("requestID")</p>

<h4>Description</h4>
<p>#getValue("collection:description")</p>
<h4>#displayMessage("arms.field.label.dc-subject.anzsrc-for")</h4>
#displayRepeatablesUL("dc:subject.anzsrc:for","skos:prefLabel")

<h4>#displayMessage("arms.heading.collection-metadata")</h4>
#set($repeats = $jsonUtil.getJavaList($item, "dataCollectionLocation"))
<table>
    <thead>
    	<tr>
    	    <th>URL</th>
			<th>Description</th>
        </tr>
    </thead>
    <tbody>
	#foreach($v in $repeats)
	<tr>
		<td>$v.get("url").trim()</td>
		<td>$v.get("description").trim()</td>
	</tr>
	#end
    </tbody>
</table>

<h4>Merit description</h4>
<p>#displayMessage("arms.label.merit-sectionA")</p>
#set($vals = $jsonUtil.getStringList($item, "merit-sectionA"))
#displayUL($vals)
<p>#displayMessage("arms.label.merit-sectionB")</p>
#set($vals = $jsonUtil.getStringList($item, "merit-sectionB"))
#displayUL($vals)
<p>#displayMessage("arms.label.merit-sectionC")</p>
#set($vals = $jsonUtil.getStringList($item, "merit-sectionC"))
#displayUL($vals)

<h4>#displayMessage("arms.heading.funding-information")</h4>
#set($v = $jsonUtil.getEmptyIfNull($item, "isFunded"))
#if ($v == "Yes")
	#set($repeats = $jsonUtil.getJavaList($item, "fundingInfoTable"))
	<table>
    <thead>
    	<tr>
   	        <th>Funder</th>
			<th>Grant number</th>
			<th>Project name</th>
			<th>Start date</th>
			<th>End date</th> 
        </tr>
    </thead>    
	#foreach($v in $repeats)
        <tr>
		<td>$v.get("fundingSource").trim()</td>
		<td>$v.get("grantNumber").trim()</td>
		<td>$v.get("projectName").trim()</td>
		<td>$v.get("startDate").trim()</td>
		<td>$v.get("endDate").trim()</td>
        </tr>
	#end
	</table>
#end

<h4>#displayMessage("arms.heading.contactdetails")</h4>
<div class="people-container">
	<div class="people">
		<h5>#displayMessage("arms.field.label.dataprovider")</h5>
			<dl>
				<dt>Name:</dt>
				<dd>#getValue("dataprovider:title")
					#getValue("dataprovider:givenName")
					#getValue("dataprovider:familyName")</dd>

				<dt>Organisation:</dt>
				<dd>#getValue("dataprovider:organization")</dd>

				<dt>email:</dt>
				<dd>#getValue("dataprovider:email")</dd>

				<dt>phone:</dt>
				<dd>#getValue("dataprovider:phone")</dd>
			</dl>
		</div>
	<div class="people">
		<h5>#displayMessage("arms.field.label.requester")</h5>
			<dl>
				<dt>Name:</dt>
				<dd>#getValue("requester:title")
					#getValue("requester:givenName")
					#getValue("requester:familyName")</dd>

				<dt>Organisation:</dt>
				<dd>#getValue("requester:organization")</dd>

				<dt>email:</dt>
				<dd>#getValue("requester:email")</dd>

				<dt>phone:</dt>
				<dd>#getValue("requester:phone")</dd>
			</dl>
	</div>
</div>
<div class="people-container">
<div class="people">
		<h5>#displayMessage("arms.field.label.nodecontact")</h5>
			<dl>
				<dt>Name:</dt>
				<dd>#getValue("nodecontact:title")
					#getValue("nodecontact:givenName")
					#getValue("nodecontact:familyName")</dd>

				<dt>email:</dt>
				<dd>#getValue("nodecontact:email")</dd>

				<dt>phone:</dt>
				<dd>#getValue("nodecontact:phone")</dd>

				<dt>Node:</dt>
				<dd>#getValue("nodecontact:node")</dd>
			</dl>
</div>
</div>

<h4 style="clear: left">#displayMessage("arms.heading.nodeselection")</h4>
<dl>
	<dt>Primary RDSI node:</dt>
	<dd>#getValue("rdsi-node")</dd>
	<dt>Other hosting node:</dt>
	#set($vals = $jsonUtil.getStringList($item, "rdsi-secondary-nodes"))
	<dd>#displayUL($vals)</dd>
	<dt>#displayMessage("arms.field.label.multi-nodes-reason")</dt>
	<dd>#getValue("multi-nodes-reason") #getValue("multi-nodes-reason-other")</dd>
	<dt>#displayMessage("arms.field.label.storage-class")</dt>
	<dd>#getValue("storage-class")</dd>
	<dt>#displayMessage("arms.field.label.data-protection-class")</dt>
	<dd>#getValue("data-protection-class")</dd>
	<dt>#displayMessage("arms.field.label.requested-allocation-size")</dt>
	<dd>#getValue("requested-allocation-size")</dd>
	<dt>#displayMessage("arms.field.label.data-size")</dt>
	<dd>#getValue("data-size")</dd>
	<dt>#displayMessage("arms.field.label.data-growth")</dt>
	<dd>#getValue("data-growth")</dd>
	<dt>#displayMessage("arms.field.label.dataset-file-number")</dt>
	<dd>#getValue("dataset-file-number")</dd>

	<dt>#displayMessage("arms.field.label.dataset-file-maxsize")</dt>
	<dd>#getValue("dataset-file-maxsize")</dd>
	<dt>#displayMessage("arms.field.label.dataset-file-minsize")</dt>
	<dd>#getValue("dataset-file-minsize")</dd>
	<dt>Data format:</dt>
	<dd>#getValue("vivo-Dataset.dc.format")</dd>
</dl>
<h4>#displayMessage("arms.heading.user-base")</h4>
<dl>
	<dt>#displayMessage("arms.field.label.current-user-number")</dt>
	<dd>#getValue("current-user-number")</dd>
	<dt>#displayMessage("arms.field.label.user-number")</dt>
	<dd>#getValue("user-number")</dd>
	<dt>#displayMessage("arms.field.label.user-access-frequency")</dt>
	<dd>#getValue("user-access-frequency")</dd>
</dl>
<h4>#displayMessage("arms.field.label.ingest")</h4>
<dl>
	<dt>#displayMessage("arms.field.label.ingest-1qtr")</dt>
	<dd>#getValue("ingest-1qtr")</dd>
	<dt>#displayMessage("arms.field.label.ingest-2qtr")</dt>
	<dd>#getValue("ingest-2qtr")</dd>
	<dt>#displayMessage("arms.field.label.ingest-3qtr")</dt>
	<dd>#getValue("ingest-3qtr")</dd>
	<dt>#displayMessage("arms.field.label.ingest-4qtr")</dt>
	<dd>#getValue("ingest-4qtr")</dd>
</dl>
<h4>Access and licensing</h4>
<dl>
	<dt>Access restriction:</dt>
	<dd>#getValue("accessRestrictions")</dd>
	<dt>Terms of use:</dt>
	<dd>#getValue("dc:rights.skos:note")</dd>
	<dt>Licence:</dt>
	<dd>#getValue("dc:license.dc:identifier") #getValue("dc:license.other")</dd>
	<dt>#displayMessage("arms.field.label.citation")</dt>
	<dd>#getValue("citation")</dd>
</dl>
<h4>#displayMessage("arms.heading.migration")</h4>
<dl>
	<dt>Help needed to migrate the data from its current environment to the Node:</dt>
	<dd>#getValue("data-medium-migration-assistance")</dd>
	<dt>Data medium and migration:</dt>
	<dd>#getValue("data-medium-migration")</dd>
	<dt>Required tools and interfaces:</dt>
	<dd>#getValue("migrate-required-resources")</dd>
</dl>
#if($page)

#if($page.authentication.has_role('reviewer'))
#set($responses = $self.getComitteeResponses())
#set($members = $responses.keySet())
#if(!$members.isEmpty())
<h4>Committee responses</h4>
<table>
<tr>
	<th>Member</th>
	<th>Response</th>
	<th>Comment</th>
</tr>
#foreach($key in $members)
<tr>
#set($response = $responses.get($key))
<td>$key</td>
<td>$response.get("approved")</td>
<td>$response.get("approval_comment")</td>
</tr>
#end
</table>
#end
#end

#if($page.authentication.has_role('commitee')) ## Actual role has to be used.
#set($committeeResponse = $self.getComitteeResponse($page.authentication.get_username()))
<h4>Allocation commitee has to say</h4>
<form action="$portalPath/allocation-committee/committee.script" method="POST">
<input type="hidden" name="oid" value="$oid" />
<p><span>Approved</span>
<label><input name="approved" value="Yes" type="radio" #if($committeeResponse.get("approved") == "Yes") checked #end))>Yes</label>
<label><input name="approved" value="No" type="radio" #if($committeeResponse.get("approved") != "Yes") checked #end>No</label>
</label>
</p>
<label for="approval_comment">Comment</label>
<textarea name="approval_comment" id="approval_comment">#if($committeeResponse.get("approval_comment"))$committeeResponse.get("approval_comment")#end</textarea>
<input type="submit" value="Submit" />
</form>
#end
#else
</body>
</html>
#end
