#set($pageTitle = "Home")

<h2 id="page-heading">
  <span>#displayMessage("arms.dashboard.provisioner")</span>
</h2>

#parseTemplate("home-components/role-switch-board.vm")
#parseTemplate("home-components/provisioner-requests.vm")
