#set($pageTitle = "Home")

<h2 id="page-heading">
  <span>#displayMessage("arms.home.title")</span>
</h2>

#parseTemplate("home-components/role-switch-board.vm")
##parseTemplate("menus/home-main-menu.vm")
    <div class="grid_12">
	#parseTemplate("home-components/provisioner-requests.vm")
    </div>
    <div class="clear"></div>
