#set($pageTitle = "Home")
<ul class="breadcrumb grid_16">
    <li><a href="$portalPath/home">> Home</a></li>
    <li>> My requests</li>
</ul>
<h2 id="page-heading">
  <span>#displayMessage("arms.dashboard.requestor")</span>
</h2>

#parseTemplate("home-components/role-switch-board.vm")
    <div class="grid_12">
	#parseTemplate("home-components/requestor-requests.vm")
    </div>
    <div class="clear"></div>
