#set($pageTitle = "Home")
<ul class="breadcrumb grid_16">
    <li class="breadcrumb-link ui-corner-top"><a href="$portalPath/home">Home</a></li>
    #if($self.section=='approved')
        <span>></span><li class="breadcrumb-link ui-corner-top"><a href="$portalPath/dashboards/reviewer">Review requests</a></li>
        <span>></span><li>Approved requests</li>
    #elseif($self.section=='rejected')
        <span>></span><li class="breadcrumb-link ui-corner-top"><a href="$portalPath/dashboards/reviewer">Review requests</a></li>
        <span>></span><li>Rejected requests</li>
    #else
        <span>></span><li>Review requests</li>
    #end
</ul>
<h2 id="page-heading">
  <span>#displayMessage("arms.dashboard.reviewer")</span>
</h2>

#parseTemplate("home-components/role-switch-board.vm")
##parseTemplate("menus/home-main-menu.vm")
    <div class="grid_12">
	#parseTemplate("home-components/reviewer-requests.vm")
    </div>
    <div class="clear"></div>
