<div id="$tableName" data-bind="stopBindings: true">
<table>
    <thead>
    	<tr>
        <th>File name</th>
        <th>Description</th>
        <th>Date added</th>
        <th>Added by</th>
        <th>Actions</th>
        </tr>
        
    </thead>
    <tbody data-bind="foreach: rows">
        <tr>
        	<td><a data-bind="text: filename, attr: {href: url} " target="_upload" ></a></td>
        	 <td data-bind="text: description"/>	
        	 <td data-bind="text: dateAdded"/>
	    	 <td data-bind="text: addedBy"/>
            <td><a href="#" data-bind="click: $parent.remove">Remove</a> </td>
        </tr>
    </tbody>
</table>
</div>

<script>
startupCompleteListeners.push("initialise_$modelName");

function initialise_$modelName() {
	var rows = $initialiseFunctionName(); 
	//put all the row models in the row array
	for(var i =0; i<rows.length; i++) {
		${modelName}.rows.push(rows[i]);
	}
}

function $modelName() {
    var self = this;
  	self.dateAdded = ko.observable();
    self.addedBy = ko.observable();
    self.rows = ko.observableArray([]);

    self.remove = function() {
        $removeFunction(this, self.removeFunc(this));        
    };
    
    self.removeFunc = function(row) { return function() {
      self.rows.remove(row);  
    }};
}

function add${modelName}Row(model) {
    jQuery.getJSON('$portalPath/servertime.script?format=YYYY-MM-dd', function(data) {
        model['dateAdded'] = data.date;
        model['addedBy'] = '$page.authentication.get_name()';

      ${modelName}.rows.push(model);
    });

}

function set${modelName}Defaults() {
	${modelName}.dateAdded('');
	${modelName}.addedBy('');
}


var $modelName = new $modelName();
ko.applyBindings($modelName, $("[id='$tableName']")[0]);

ko.applyBindingsToNode($("[id='$tableName']")[0], 
	{ click: function () { 	add${modelName}Row(); } }, $modelName 
);
</script>