<label>
	<input type="radio" class="jaffa-field" name="level-access" id="level-access.yes" value="yes">
		Yes
</label>
<div style="margin-left:3em">
    <label>#displayMessage("arms.description.researchdata-access-date-description")<input type="text" class="jaffa-field" id="futureAccessDate"></label><br>
    <label><span style="vertical-align:top;">#displayMessage("arms.description.researchdata-access-description")</span><textarea cols="80" rows="4" id="level-access-details" name="level-access-details" class="jaffa-field"></textarea></label>
</div>
<label>
      <input type="radio" class="jaffa-field" name="level-access" id="level-access.no" value="no">
      No
</label>

<script>
 $(function() {
	 $("[id='futureAccessDate']").datepicker({
		 changeMonth: true,
		 changeYear: true
         ,showButtonPanel: true	 });
    });
</script>
