<label>
	<input type="radio" class="jaffa-field" name="level-access" id="level-access.yes" value="Yes">
		Yes
</label>
<div style="margin-left:3em" id="level-access-details-div">
    <!--label>#displayMessage("arms.description.researchdata-access-currentdate-description")<input type="text" id="currentAccessDate" class="jaffa-field"></label><br-->
    <label><input type="checkbox" name="currentAccessDate" value="now">Now</label> or <br>
    <label>#displayMessage("arms.description.researchdata-access-date-description")<input type="text" id="futureAccessDate" class="jaffa-field"></label><br>
    <label><span style="vertical-align:top;">#displayMessage("arms.description.researchdata-access-description")</span><textarea id="level-access-details" name="level-access-details" cols="80" rows="4" class="jaffa-field"></textarea></label>
</div>
<label>
    <input type="radio" class="jaffa-field" name="level-access" id="level-access.no" value="No">
      No
</label>

<script>
						   	    
$(document).ready(function() {
	 $("[id='futureAccessDate']").datepicker({
		 changeMonth: true,
		 changeYear: true
         ,showButtonPanel: true	 });

	function toggleFutureAccessDate() {
		if($('[name=currentAccessDate]:checked').val() == "now") {
			$("[id='futureAccessDate']").prop('disabled', false);
			
		} else {
			$("[id='futureAccessDate']").prop('disabled', true);
		}
	}
	
	toggleFutureAccessDate();
	$("[name=currentAccessDate]").change(function() {
		toggleFutureAccessDate();	
	});		
	
	function toggleAccessDetails() {
		if($('input:radio[name=level-access]:checked').val() == "Yes") {
			$("[id='level-access-details-div']").show();
		} else {
			$("[id='level-access-details-div']").hide();
			$("[id='futureAccessDate']").val("");
			$("[id='level-access-details']").val("");
		}
	}
	toggleAccessDetails();
	$('input:radio[name=level-access]').change(function() {
		toggleAccessDetails();	
	});		
});
   
</script>
