<p>#displayMessage("arms.field.label.methodmeta")</p>
<label><input type="radio" value="Yes" class="jaffa-field" name="methodmeta">Yes</label>
<label><input type="radio" value="No" class="jaffa-field" name="methodmeta">No</label>

<div id="methodologicalDiv">
    <p>#displayMessage("arms.description.methoddetail")</p>
    <label for="methodologicalDetails"></label>
    <textarea id="methodologicalDetails" rows="4" cols="80" class="jaffa-field "></textarea>
</div>

<script>
						   	    
$(document).ready(function() {
	function toggleMethodologicalDetails() {
		if($('input:radio[name=methodmeta]:checked').val() == "Yes") {
			$("[id='methodologicalDiv']").show();
		} else {
			$("[id='methodologicalDiv']").hide();
			$("[id='methodologicalDetails']").val("");
		}
	}
	toggleMethodologicalDetails();
	$('input:radio[name=methodmeta]').change(function() {
		toggleMethodologicalDetails();	
	});		
});
   
</script>
