<fieldset>
    <legend id="recommendation-legend">Reviewer's recommendations to the assessment committee</legend>
    <div id="recommendation-container">
    <label class="block"> 
        <input type="radio" value="Approve for ReDS" class="jaffa-field" id="reviewer-recommend-for.1" name="reviewer-recommend-for">
        Approve for ReDS
    </label>
    <label>
        <input type="radio" value="Approve for CDS" class="jaffa-field" id="reviewer-recommend-for.2" name="reviewer-recommend-for">
        Approve for CDS
    </label>
    </div>
    <label for="reviewer-recommended-storage" id="reviewer-recommended-storage-label">#displayMessage("arms.allocation.storage.label")</label>
    <input type="text" class="jaffa-field" name="reviewer-recommended-storage" id="reviewer-recommended-storage">
</fieldset>
