#set($menuTitle = "#displayMessage('arms.dashboard.reviewer.rejected')")
#parseTemplate("wrapping/info-box-open.vm")

#set($results = $self.getListOfStage("$packageType", 'arms-rejected'))
#if ($results && $results.size() > 0)

## load pagination controls
#parseTemplate("home-components/pagingControl.vm")

<script>
var reviewerRecords = new DataRowsModel('rejected');
reviewerRecords.prepareData = function(data) {
    for(var i=0; i < data.length; i++) {
        data[i]["detailUrl"] = '$portalPath/detail/' + data[i].id;
        data[i]["editUrl"] = '$portalPath/workflow/' + data[i].id;;
        this.rows.push(data[i]);
    }
}

jQuery(document).ready(function() { 
    ko.applyBindings(reviewerRecords, jQuery('#reviewerRecordsTbl')[0]);
    setupPagingCtrls('reviewerRecordsPaging', reviewerRecords, $results);
});
</script>

<div class="block">
<table id="reviewerRecordsTbl" data-bind="stopBindings: true">
    <thead>
        <tr>
            <th>#displayMessage('arms.requests.table.title')</th>
            <th>#displayMessage('arms.requests.table.action')</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: rows">
        <tr>
        <td><a data-bind="attr: {href: detailUrl}, text: dc_title"></a></td>
        <td><a data-bind="attr: {href: editUrl}"><img alt="#displayMessage('arms.requests.action.edit')" src="$portalPath/images/icons/workflow_edit.png" title="#displayMessage('arms.requests.action.edit')"></a></td>
        </tr>
    </tbody>
</table>
#setPagingCtrl("reviewerRecordsPaging")

</div>
#end
#parseTemplate("wrapping/info-box-close.vm")
