<html>
  <head>
	<title>Redbox</title>      
	<meta http-equiv="refresh" content="0;URL='<%= @redbox_path %>'" />    
  </head>
<body>
	<img src="logo.png" alt="redbox" /><h1>Please wait whilst you are redirected....</h1>
</body></html>
