h4 {
    background: none repeat scroll 0 0 #0091B6;
    color: white;
    padding: 0.3em;
    text-transform: none;
}
p { margin: 0.1em }

#people-container dt { text-align: right; font-size: small }

.people {
    float: left;
    padding: 0 0.5% 2em 0;  
    width: 49.5%;
}
